body{
  color: :#40514e;
  margin: 0;
  text-align:center;
  font-family: sans-serif;
}
h1{
  font-size :5.625em;
  margin-top:50px;
  font-family: 'Sacramento', sans-serif;
  color:#66bfbf;
}
p{
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  line-height: 2;

}
.para{
  font-size: 2.5rem;
  color:#66bfbf;
  font-weight: normal;
}
h2{
  font-family: 'Montserrat', sans-serif;
  color:#11999E;

}

h3{
  font-family: 'Montserrat', sans-serif;
  color:#11999E;

}
.intro{
  width: 30%;
  margin:auto;
}
.skill-row{
  width: 50%;
  margin: 100px auto 120px auto;
  text-align: left;
}
.code{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.digital{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.top-container{
  background-color:#b7efcd;
  position: relative;
  padding-top: 100px;

}
.circular{
  border-radius: 100%;
  border-width: 25%;
}
.middle-container{
  margin: 100px 0;

}
.bottom-container{
  background-color: #66bfbf;
  padding: 50px 0 20px;


}
hr{
  border:dotted #eaf6f6 6px;
  width: 4%;
  margin: 100px auto;
}

.contact-desc{
  width: 40%;
  margin: 40px auto 60px;
}

.myButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Montserrat,sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}

a{
  color:#1199ae;
  font-family:Montserrat,sans-serif;
  margin:10px 20px;
  text-decoration: none;
}
a:hover{
  color: #eaf6f6;

}
.copyright{
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.new{
  margin: 0px 0px 100px 0px;
  border-radius: 100%;
}
